.collection-table-row {
    * {
        font-family: monospace;
    }

    td {
        padding: 1rem;
        vertical-align: middle;
        white-space: nowrap;
    }

    /* ======================
       CLICKABLE CELL BUTTONS
       ====================== */

    .cell-content {
        all: unset;
        font-size: 15px;
        color: #111827;
        display: inline-block;
        transition: color 0.15s ease, text-decoration-color 0.15s ease;


        &.timer {
            display: flex;
            //flex-direction: column;
            align-items: center;
            gap: 6px;

            .indicator {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                flex-shrink: 0;
            }

            .time {
                font-weight: 500;
                font-size: 0.875rem; // ~14px
                line-height: 1;
            }

            /* Status colors */
            .green {
                background-color: #2ecc71;
                color: #2ecc71;
            }

            .yellow {
                background-color: #f1c40f;
                color: #f1c40f;
            }

            .red {
                background-color: #e74c3c;
                color: #e74c3c;
            }
        }
    }

    .material-name {
        font-weight: 600;
    }

    .collection-ref-number {
        text-transform: uppercase;
        color: #6b7280;
    }

    /* ======================
       ACTION COLUMN
       ====================== */

    .action {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-end;
    }
}