.app-layout {
    display: flex;
    flex-direction: column;
    border: none;
    height: 100vh;

    .layout-row {
        display: flex;
        height: 100%;

        .content {
            width: 100%;
            max-width: 1200px;
            padding: 1rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
}