* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    background-color: black;
}

.lorry-table {
    background-color: black;

    * {
        color: rgb(163, 159, 159) !important;
    }
}