.collection-table {
    * {
        font-family: monospace;
    }

    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin-top: 1rem;

    thead {
        tr {
            border-bottom: 1px solid #e5e7eb;
        }

        th {
            padding: 1.75rem 1rem;
            text-align: left;
            font-weight: 600;
            color: #111827;
            font-size: 1.5rem;
            cursor: pointer;
            user-select: none;
        }

        .th-content {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
        }

        .sort-icon {
            width: 1.4rem;
            height: 1.4rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: gray;

            svg {
                font-size: 1.4rem;
            }
        }

        .icon-placeholder {
            opacity: 0;
        }
    }

    tbody {
        .collection-table-row {
            border-bottom: 1px solid #edf0f4;

            &:hover {
                background-color: #f5f5f6;
            }

            td {
                padding: 1rem;
                vertical-align: middle;
                white-space: nowrap;
            }

            .cell-content {
                all: unset;
                font-size: 15px;
                color: #111827;
                display: inline-block;
                transition: color 0.15s ease, text-decoration-color 0.15s ease;


                &.timer {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    .indicator {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        flex-shrink: 0;
                    }

                    .time {
                        font-weight: 500;
                        font-size: 0.875rem;
                        line-height: 1;
                    }
                }
            }

            .material-name {
                font-weight: 600;
            }

            .collection-ref-number {
                text-transform: uppercase;
            }

            .action {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}