.collection-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin-top: 2rem;

    thead {
        * {
            font-family: monospace;
        }

        tr {
            border-bottom: 1px solid #e5e7eb;
        }

        th {
            padding: 1.75rem 1rem;
            text-align: left;
            font-weight: 600;
            color: #111827;
            font-size: 1.5rem;
            cursor: pointer;
            user-select: none;
        }

        .th-content {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
        }

        .sort-icon {
            width: 1.4rem;
            height: 1.4rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: gray;

            svg {
                font-size: 1.4rem;
            }
        }

        .icon-placeholder {
            opacity: 0;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #edf0f4;

            &:hover {
                background-color: #e6f1fd;
            }
        }
    }
}